# Required imports for the task

In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
import os
from pathlib import Path
from bson.son import SON
import dateutil.parser
import zipfile38 as zipfile

# Given database uri

In [2]:
client = MongoClient(f'mongodb+srv://----.mongodb.net/s------')

In [3]:
db = client.sample_mflix

# Collections required for data frames

In [4]:
c_movies = db.movies

In [5]:
c_comments = db.comments

In [6]:
c_theaters =  db.theaters

# Dataframes created from sample_mflix collections

In [7]:
df_movies = pd.DataFrame(list(c_movies.find({})))

In [8]:
df_movies.head()

,_id,plot,genres,runtime,cast,num_mflix_comments,title,fullplot,countries,released,...,awards,lastupdated,year,imdb,type,tomatoes,poster,writers,languages,metacritic
0,573a1390f29313caabcd4135,Three men hammer on an anvil and pass a bottle...,[Short],1.0,"[Charles Kayser, John Ott]",1.0,Blacksmith Scene,A stationary camera looks at a large anvil wit...,[USA],1893-05-09,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-26 00:03:50.133000000,1893,"{'rating': 6.2, 'votes': 1189, 'id': 5}",movie,"{'viewer': {'rating': 3.0, 'numReviews': 184, ...",NaN,NaN,NaN,NaN
1,573a1391f29313caabcd7fb7,The first film adaptation of Sir Arthur Conan ...,"[Adventure, Fantasy]",106.0,"[Bessie Love, Lewis Stone, Wallace Beery, Lloy...",NaN,The Lost World,Explorer Professor Challenger is taking quite ...,[USA],1925-06-22,...,"{'wins': 1, 'nominations': 1, 'text': '1 win &...",2015-08-26 00:55:12.337000000,1925,"{'rating': 7.1, 'votes': 3154, 'id': 16039}",movie,"{'viewer': {'rating': 3.5, 'numReviews': 3198,...",https://m.media-amazon.com/images/M/MV5BMzQxMj...,"[Arthur Conan Doyle (based upon the novel by),...",NaN,NaN
2,573a1390f29313caabcd6377,A rich young Easterner who has always wanted t...,"[Comedy, Western, Romance]",72.0,"[Douglas Fairbanks, Eileen Percy, Calvert Cart...",NaN,Wild and Woolly,A rich young Easterner who has always wanted t...,[USA],1917-06-24,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-06-05 00:40:35.137000000,1917,"{'rating': 6.9, 'votes': 388, 'id': 8775}",movie,NaN,NaN,"[Horace B. Carpenter (story), John Emerson, An...",[English],NaN
3,573a1390f29313caabcd446f,"A greedy tycoon decides, on a whim, to corner ...","[Short, Drama]",14.0,"[Frank Powell, Grace Henderson, James Kirkwood...",1.0,A Corner in Wheat,"A greedy tycoon decides, on a whim, to corner ...",[USA],1909-12-13,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:46:30.660000000,1909,"{'rating': 6.6, 'votes': 1375, 'id': 832}",movie,"{'viewer': {'rating': 3.6, 'numReviews': 109, ...",NaN,NaN,[English],NaN
4,573a1390f29313caabcd5c0f,"The story of a poor young woman, separated by ...","[Drama, History]",197.0,"[Lillian Gish, Spottiswoode Aitken, Mary Alden...",1.0,Intolerance: Love's Struggle Throughout the Ages,Intolerance and its terrible effects are exami...,[USA],1916-09-05,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-05 00:01:19.580000000,1916,"{'rating': 8.0, 'votes': 9880, 'id': 6864}",movie,"{'viewer': {'rating': 3.8, 'numReviews': 4718,...",https://m.media-amazon.com/images/M/MV5BZTc0Yj...,"[D.W. Griffith (scenario), Anita Loos (titles)]",NaN,NaN

In [9]:
df_comments = pd.DataFrame(list(c_comments.find({})))

In [10]:
print(c_comments.count_documents({}),c_movies.count_documents({}))

50303 23530

In [11]:
df_movies['_id'].isin(df_comments['movie_id']).value_counts()

False    16082
True      7448
Name: _id, dtype: int64

In [12]:
df_comments.head()

,_id,name,email,movie_id,text,date
0,5a9427648b0beebeb69579eb,Emily Ellis,emily_ellis@fakegmail.com,573a1390f29313caabcd432a,Iste molestiae animi minima quod ad. Corporis ...,1988-10-16 19:08:23
1,5a9427648b0beebeb6957a25,Osha,natalia_tena@gameofthron.es,573a1390f29313caabcd5181,Dolor inventore commodi eos ipsum earum vitae ...,1992-08-26 21:07:54
2,5a9427648b0beebeb6957a03,Beric Dondarrion,richard_dormer@gameofthron.es,573a1390f29313caabcd47f0,Placeat sapiente in natus nemo. Qui quibusdam ...,1998-09-04 04:41:51
3,5a9427648b0beebeb69579dd,Joshua Kent,joshua_kent@fakegmail.com,573a1390f29313caabcd42ee,Corporis pariatur rem autem accusamus debitis....,1993-12-06 18:45:21
4,5a9427648b0beebeb69579d3,Cameron Duran,cameron_duran@fakegmail.com,573a1390f29313caabcd4217,Quasi dicta culpa asperiores quaerat perferend...,1983-04-27 20:39:15

In [13]:
df_theaters = pd.DataFrame(list(c_theaters.find({})))

In [14]:
df_theaters.head()

,_id,theaterId,location
0,59a47286cfa9a3a73e51e731,1010,"{'address': {'street1': '1025 Veterans Pkwy', ..."
1,59a47286cfa9a3a73e51e742,1024,"{'address': {'street1': '138 E Interstate 20',..."
2,59a47286cfa9a3a73e51e730,1002,{'address': {'street1': '1900 E Rio Salado Pkw...
3,59a47286cfa9a3a73e51e764,1063,"{'address': {'street1': '1018 24th Ave SW', 'c..."
4,59a47286cfa9a3a73e51e74d,1035,"{'address': {'street1': '2041 Highway 287 N', ..."

# Creating Directory for report csv files same path will be used for attachment list

In [15]:
path_to_destination = Path(os.getcwd() +"/movies")
path_to_destination.mkdir(parents=True, exist_ok=True)

#  Functions to fetch data from monogdb ,create dataframe and save as csv

In [16]:
                        #function 1        
def movies_with_no_comments():
    mvwnc = df_movies.loc[~df_movies['_id'].isin(df_comments['movie_id'])]
    mvwnc.to_csv(f'{path_to_destination}/movies_with_no_comments.csv',sep=',')


                            #function 2

def movies_with_comments():    
    mvwc = df_movies.loc[df_movies['_id'].isin(df_comments['movie_id'])]
    mvwc['low_runtime'] =np.where(mvwc['runtime']<50, True, False)
    mvwc['high_runtime'] =np.where(mvwc['runtime']>50,True, False)
    mvwc.to_csv(f'{path_to_destination}/movies_with_comments.csv',sep=',')



                                #function 3

def movies_rating_8_released_aft_2000():
    g8r200 = c_movies.find({"$and":[{"imdb.rating":{"$gt":8}},{"released":{"$gte":dateutil.parser.parse("2000-01-01T00:00:00.000Z")}},{"awards.wins":{"$gt":3}}]})
    df_g8r20 = pd.DataFrame(list(g8r200))
    df_g8r20.to_csv(f'{path_to_destination}/movies_rating_8_released_aft_2000.csv',sep=',')


                                #fucdtion 4

def theatre_simplified():
    theater_dict = c_theaters.find({})
    theatre_simplified = pd.json_normalize(list(theater_dict))
    theatre_simplified.columns =['_id', 'theaterId', 'street1', 'city','state', 'zipcode','type', '[X-cordinate,Y-cordinate]','street2']
    theatre_simplified.to_csv(f'{path_to_destination}/theatre_simplified.csv',sep=',')
   


                                    #function 5

def released_outside_usa():
    released_outside_usa = pd.DataFrame(c_movies.find({"countries":{"$ne":"USA"}}))
    released_outside_usa.to_csv(f'{path_to_destination}/released_outside_usa.csv',sep=',')

# #save report  function

In [17]:
def save_report():
    movies_with_no_comments()
    movies_with_comments()
    movies_rating_8_released_aft_2000()
    theatre_simplified() 
    released_outside_usa()
        
save_report()

/tmp/ipykernel_24682/1229903495.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvwc['low_runtime'] =np.where(mvwc['runtime']<50, True, False)
/tmp/ipykernel_24682/1229903495.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvwc['high_runtime'] =np.where(mvwc['runtime']>50,True, False)

# zip report function

In [18]:
def zipdir(path, ziph):
    # ziph is zipfile handle
    for root, dirs, files in os.walk(path):
        for file in files:
            ziph.write(os.path.join(root, file), 
                       os.path.relpath(os.path.join(root, file), 
                                       os.path.join(path, '..')))
      
zipf = zipfile.ZipFile('Report.zip', 'w', zipfile.ZIP_DEFLATED)
zipdir('./movies/', zipf)
zipf.close()
compressed_report = './Report.zip'

# Yagmail lib to send mail with attachment

In [ ]:
import yagmail

receiver = "abcl@outlook.com"
body = "Hope you like my work"
#filename = "document.pdf"

yag = yagmail.SMTP("xyz@gmail.com")
yag.send(
    to=receiver,
    subject="Assignment report ",
    contents=body, 
    attachments=compressed_report,
)